<section id="top-container" class="container-fluid text-center">
    <h1 id="main-title">Encontre o emprego dos seus sonhos</h1>
    <p id="main-subtitle">Somos o site com mais vagas de tecnologia no mercado, direcionadas a home office</p>

    <form method="GET" action="/" id="search-form" class="row justify-content-center">
        <div class="col-md-8 mb-3">
            <label for="job" class="visually-hidden">Buscar vaga</label>
            <input type="text" class="form-control" id="job" name="job" placeholder="Digite a vaga que está procurando">
        </div>
        <div class="col-md-2 mb-3">
            <button type="submit" class="btn btn-primary w-100">Buscar</button>
        </div>
    </form>
</section>

<main>
    <div id="jobs-container" class="container mt-5">
        <div class="col-md-12">

            {{#if search}}
            <h2 id="job-list-title" class="mb-4">
                Buscando vagas que contêm: "{{search}}"
            </h2>
            {{else}}
            <h2 id="job-list-title" class="mb-4">
                Veja as nossas vagas em destaque
            </h2>
            {{/if}}

            <ul id="job-list" class="list-group">
                {{#each jobs}}
                <li class="list-group-item {{#if dataValues.new_job}}new-job{{/if}} position-relative">
                    <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-briefcase" viewBox="0 0 16 16" style="position:absolute;left:24px;top:50%;transform:translateY(-50%);border-radius:50%;border:2px solid var(--primary-color);background:#fff;padding:12px;">
                      <path d="M6.5 0a.5.5 0 0 0-.5.5V2H3a2 2 0 0 0-2 2v1h14V4a2 2 0 0 0-2-2h-3V.5a.5.5 0 0 0-.5-.5h-2zm1 .5V2h1V.5a.5.5 0 0 0-1 0zM1 5v6a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V5H1zm0-1h14V4a1 1 0 0 0-1-1h-3V.5A1.5 1.5 0 0 0 8 .5h-2A1.5 1.5 0 0 0 4.5 2.5V3H1a1 1 0 0 0-1 1v1zm1 7V5h12v6a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"/>
                    </svg>
                    <p>{{dataValues.company}}</p>
                    <p>{{dataValues.title}}</p>
                    <p>R${{dataValues.salary}}</p>
                    {{#if dataValues.new_job}}
                    <span class="new-job-label">Nova</span>
                    {{/if}} 
                    <a class="btn btn-primary" href="/jobs/view/{{dataValues.id}}">Ver vaga</a>
                </li>
                {{/each}}
            </ul>


        </div>
    </div>
</main>