<div id="job-view-container" class="container">
    <a class="back-link main-color" href="/">Voltar</a>
    <div class="row text-center">
        <div id="img-container" class="col-md-12">
            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-briefcase" viewBox="0 0 16 16" style="border-radius:50%;border:2px solid var(--primary-color);background:#fff;padding:18px;">
              <path d="M6.5 0a.5.5 0 0 0-.5.5V2H3a2 2 0 0 0-2 2v1h14V4a2 2 0 0 0-2-2h-3V.5a.5.5 0 0 0-.5-.5h-2zm1 .5V2h1V.5a.5.5 0 0 0-1 0zM1 5v6a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V5H1zm0-1h14V4a1 1 0 0 0-1-1h-3V.5A1.5 1.5 0 0 0 8 .5h-2A1.5 1.5 0 0 0 4.5 2.5V3H1a1 1 0 0 0-1 1v1zm1 7V5h12v6a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"/>
            </svg>
        </div>
        <div class="col-md-12">
            <h1 class="main-color">{{job.dataValues.title}}</h1>
            <p class="bold">Quem eles estão buscando:</p>
            <p class="job-desc">{{job.dataValues.description}}</p>
            <p><span class="bold">O salário informado é de:</span>R$ {{job.dataValues.salary}}</p>
            <p>
                Para trabalhar na <span class="bold main-color">{{job.dataValues.company}}</span> envie um e-mail para a
                <a class="main-color" href="mail:to{{job.dataValues.email}}">{{job.dataValues.email}}</a>
            </p>
        </div>
    </div>
</div>